---
import categorias from "../data/categorias.json"

const CATEGORIASJSON = categorias;
const CATEGORIAS = CATEGORIASJSON.categorias.map((categoria:any) => {
   return categoria.name
})
const itemsSort = CATEGORIAS.sort((a:any, b:any) => {
  if (a == b) {
    return 0;
  }
  if (a < b) {
    return -1;
  }
  return 1;
});
const pathname = Astro.url.pathname;
---

<button id="hamburguerAside" data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="sticky top-20 z-30 inline-flex items-center p-2 mt-2 ms-3 text-sm  rounded-lg sm:hidden  focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<aside id="default-sidebar" data-modal="close" class="w-full md:fixed top-[4.5rem] md:top-[70px] overflow-x-hidden md:left-0 md:h-full sm:p z-50 md:w-56 h-screen transition-transform -translate-x-full sm:translate-x-0 border border-r-1 border-y-0 border-l-0 border-[#a3a3a379]" aria-label="close">
  <div class="h-full px-3 py-4 bg-[#13151a]">
     <ul class="h-[90%] overflow-auto space-y-2 font-medium">
      <li>
         <a href="/" class={`flex items-center p-2 text-gray-800/80  rounded-lg hover:text-white group ${pathname == "/"  ? "text-white " :" text-white/80"}`}>
            <span class="ms-3">Todas</span>
         </a>
      </li>
      {itemsSort.map((categoria:any) => (
         <li>
            {
               <a href={`/${categoria.toLowerCase().replace(/ /g, "-" )}`} 
               class={`flex items-center p-2 rounded-lg drop-shadow-2xl transition-all hover:text-white group ${pathname == ("/"+categoria.toLowerCase().replace(/ /g, "-" )) ||  (categoria == pathname)  ? "text-white" :" text-white/80"}`}>
                  <span class="ms-3">{categoria}</span>
               </a>
            }
        </li>
      ))}
     </ul>
  </div>
</aside>

<style>
   aside {
  width: 14rem;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  /* top: 82px; */
  z-index: 40;
}
      aside div ul::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 5px;
        /* background-color: #F5F5F5; */
      }

      aside div ul::-webkit-scrollbar
      {
        width: 6px;
        /* background-color: #F5F5F5; */
      }

      aside div ul::-webkit-scrollbar-thumb
      {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
      }
</style>

